body {
    font-family: 'Bebas Neue', cursive;
}

.Flex {
    display: flex;

}

.half {
    width: 80%;
    margin-bottom: 150px;


}

.half img {
    width: 70%;
}

h1 {
    margin-left: 450px;


    font-size: 40px;
}

p {
    margin-left: 450px;
    font-size: 25px;
    margin-bottom: 70px;
}

.color1 {
    color: tomato;
}

.height {
    margin-top: 170px;
}

.order {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    margin-left: 450px;
    font-size: 30px;
    border-radius: 25px;
    font-weight: 700px;
    padding: 10px 40px;
    color: white;

}